<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952063960380-fb5n5knfueuj6pqolerhrkd9alimlbe7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952063960380-fb5n5knfueuj6pqolerhrkd9alimlbe7</string>
	<key>API_KEY</key>
	<string>AIzaSyBSzvPGI70nZHgSiXIYEHbP4WwaXhV35yE</string>
	<key>GCM_SENDER_ID</key>
	<string>952063960380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stolarczykApp</string>
	<key>PROJECT_ID</key>
	<string>kaizen-5b90d</string>
	<key>STORAGE_BUCKET</key>
	<string>kaizen-5b90d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952063960380:ios:2d080e3276b56faf366a39</string>
	<key>DATABASE_URL</key>
	<string>https://kaizen-5b90d-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>